# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp