# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store
__MACOSX/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Large Database Files
# =========================
*.db

# =========================
# Large Data Archives
# =========================
*.zip

# =========================
# Large Raw Datasets
# =========================
data/sales.csv
data/purchases.csv
01_Inventory-Purchase-Analysis/data/sales.csv
01_Inventory-Purchase-Analysis/data/purchases.csv